{% extends 'base.html.twig' %}

{% block title %}Back Office{% endblock %}

{% block body %}
<h1 class="mb-5">Back office</h1>

    {% if requests|length > 0%}
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Nombre de question</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in requests %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                    <td><a href="{{ path('app_admin_contact', {'slug': key|slug}) }}" class="see">
                            Voir
                            <i class="far fa-eye"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Vous n'avez aucune question </p>
    {% endif %}
{% endblock %}
