{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<h1>Back office</h1>

    {% if requests|length > 0%}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Nombre de question</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in requests %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                    <td><a href="{{ path('app_admin_contact', {'slug': key|slug}) }}">Voir</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Vous n'avez aucune question </p>
    {% endif %}
{% endblock %}
