{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(form) }}
    <h1 class="h3 mb-3 font-weight-normal">Faites nous part de votre question</h1>
    {{ form_widget(form) }}
    <button class="btn btn-success">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}
